@{
    ViewBag.Title = "Inventario";
}

<div class="container-fluid">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="">
            <form id="deportista" name="deportista">
                <div class="panel panel-info" style="margin-top: 10px!important;">
                    <div class="panel-body" style="color: #31708f;background-color: #d9edf7;padding: 5px;">
                        <i class="fa fa-info-circle " style="font-size: 16px;margin-right: 5px;" aria-hidden="true"></i><strong>Se&ntilde;or usuario, el producto que ingres&oacute; est&aacute; pr&oacute;ximo a agotarse <button class="btn btn-success btn-xs"><i class="fa fa-eye" aria-hidden="true"></i></button></strong>
                    </div>
                </div>
                <br />
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Inventario</h4>
                    </div>
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="control-label" for="Codigo">C&oacute;digo</label>
                                        <input id="Codigo" name="CodigoInventario" required class="form-control" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label" for="Producto">Producto</label>
                                        <input id="Producto" name="Producto" required type="text" class="form-control" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="control-label" for="Presentacion">Presentaci&oacute;n</label>
                                        <input id="Presentacion" name="Presentacion" required type="text" class="form-control" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-grouo">
                                        <label class="control-label" for="Concentracion">Concentraci&oacute;n</label>
                                        <input id="Concentracion" name="Concentracion" required type="text" class="form-control" placeholder="" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="control-label" for="Disponibilidad">Disponibilidad</label>
                                        <input id="Disponibilidad" name="Disponibilidad" required type="number" class="form-control" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="control-label" for="NumeroEstante">N&uacute;mero de estante</label>
                                        <input id="NumeroEstante" name="NumeroEstante" required type="text" class="form-control" placeholder="" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label" for="FechaInventario">Fecha de inventario</label>
                                        <input id="FechaInventario" name="FechaInventario" class="form-control datepicker" readonly required placeholder="Ingresar fecha del inventario" />
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label" for="FechaVencimiento">Fecha de vencimiento</label>
                                        <input id="FechaVencimiento" name="FechaVencimiento" class="form-control datepicker" readonly required placeholder="Ingresar fecha de vencimiento" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>C&oacute;digo</th>
                                <th>Nombre del producto</th>
                                <th>Concentraci&oacute;n</th>
                                <th>Cantidad disponible</th>
                                <th>Fecha de vencimiento</th>
                                <th>
                                    <label>Editar</label>
                                </th>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <th>
                                    <button type="button" class="btn btn-primary btn-xs" data-target="#md_editproducto" data-toggle="modal" title="Editar producto"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>-->
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                        <button type="reset" class="btn btn-secondary">Limpiar</button>
                    </div>
                </div>
            </form>
        </div>  
        <!--Modal para editar producto-->
        <div id="md_editproducto" class="modal fade" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header mhsuccess alert alert-primary">
                        <h4 class="modal-title">&nbsp;Editar Producto</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

        <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
    </main>
</div>
<!-- Iconos -->
<script>
    feather.replace()
</script>



