@{
    ViewBag.Title = "Pqr";
}

<div class="container-fluid">
    <!--<div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-pills active" href="#">
                            <span data-feather="archive" class="sr-only-focusable">@Html.ActionLink(" Inventario", "inventario", "Inventario")</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-pills" href="#">
                            <span data-feather="truck">@Html.ActionLink(" Domicilios", "domicilios", "Domicilio")</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-pills" href="#">
                            <span data-feather="file-text">@Html.ActionLink(" PQF", "pqr", "Pqrf")</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <form action="" method="post">
            <div class="">
                <br />
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Registrar Petici&oacute;n, Quejas o Felicitaci&oacute;n</h4>
                    </div>
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label for="NombreCompleto">Nombres completos</label>
                                        <input id="NombreCompleto" name="NombreCompleto" type="text" class="form-control" required placeholder="Ingresar nombre completo" />
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="Identificacion">Identificaci&oacute;n</label>
                                        <input id="Identificacion" name="Identificacion" type="number" class="form-control" required placeholder="Ingresar identificaci&oacute;n" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="Telefono">Tel&eacute;fono</label>
                                        <input id="Telefono" name="Telefono" type="number" maxlength="15" class="form-control" required placeholder="Ingresar tel&eacute;fono" />
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label for="Barrio">Barrio</label>
                                        <select class="form-control" required>
                                            <option class="selected">Seleccionar</option>
                                            <option value="Avenida Santander">Avenida Santander</option>
                                            <option value="Bombona">Bombona</option>
                                            <option value="Condominio Santiago">Condominio Santiago</option>
                                            <option value="El Churo">El Churo</option>
                                            <option value="El Olivo">El Olivo</option>
                                            <option value="Fátima">Fátima</option>
                                            <option value="Los Abedules">Los Abedules</option>
                                            <option value="Medardo Bucheli">Medardo Bucheli</option>
                                            <option value="Mercedario">Mercedario</option>
                                            <option value="Normandia">Normand&iacute;a</option>
                                            <option value="Nueva Colombia">Nueva Colombia</option>
                                            <option value="Panamericano">Panamericano</option>
                                            <option value="Prados del Oeste">Prados del Oeste</option>
                                            <option value="Quintas de San Pedro">Quintas de San Pedro</option>
                                            <option value="Rosales II">Rosales II</option>
                                            <option value="San Felipe">San Felipe</option>
                                            <option value="Tequendama">Tequendama</option>
                                            <option value="Terranova">Terranova</option>
                                            <option value="Villa Adriana María">Villa Adriana María</option>
                                            <option value="Villa Recreo">Villa Recreo</option>
                                            <option value="Villa Rocío">Villa Rocío</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="Correo">Correo electr&oacute;nico</label>
                                        <input id="Correo" name="Correo" type="email" class="form-control" required placeholder="correo@ejemplo.com" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="TipoRecurso">Tipo de Recurso</label>
                                        <select class="form-control" required>
                                            <option>Petici&oacute;n</option>
                                            <option>Queja</option>
                                            <option>Felicitaci&oacute;n</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label for="Fecha">Fecha</label>
                                        <input id="Fecha" name="Fecha" class="form-control datepicker" readonly required placeholder="Ingresar fecha" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <label for="SituacionPresentada">Situaci&oacute;n presentada</label>
                                    <textarea id="Situacion" name="SituacionPresentada" maxlength="500" class="form-control" required placeholder="Por favor describa la petici&oacute;n, queja o felicitaci&oacute;n"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button type="reset" class="btn btn-secondary">Limpiar</button>
                    </div>
                </div>
            </div>
        </form>
        <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
    </main>
</div>
<!-- Iconos -->
<script>
    feather.replace()
</script>

