@{
    ViewBag.Title = "Inicio";
}

<div class="container-fluid">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="container">
            <div class="col-sm-12">
                <img src="~/Images/carrusel4.jpg" style="width:800px; border-radius:10px;">
            </div>
        </div>
    </main>
</div>

