@{
    ViewBag.Title = "Domicilios";
}

<div class="container-fluid">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <form id="domicilio" name="domicilio" method="post" action="">
                <div class="">
                    <br />
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Registro del domicilio</h4>
                        </div>
                        <div class="card-body">
                            <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label for="CodigoDomicilio">C&oacute;digo</label>
                                                        <input id="CodigoDomicilio" name="CodigoDomicilio" type="number" required disabled class="form-control" placeholder="" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="form-group">
                                                        <label for="NombreProducto">Nombre del producto</label>
                                                        <input id="NombreProducto" name="NombreProducto" type="text" maxlength="100" required class="form-control" placeholder="Producto" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label for="Concentracion">Concentraci&oacute;n</label>
                                                        <input id="Concentracion" name="Concentracion" type="text" maxlength="10" required class="form-control" placeholder="" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <label for="Presentacion">Presentaci&oacute;n</label>
                                                        <input id="Presentacion" name="Presentacion" type="text" maxlength="20" required class="form-control" placeholder="Presentaci&oacute;n" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label for="ValorUnitario">Valor unitario</label>
                                                        <input id="ValorUnitario" name="ValorUnitario" type="number" required maxlength="10" disabled class="form-control" placeholder="$" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label for="Cantidad">Cantidad</label>
                                                        <input id="Cantidad" name="Cantidad" type="number" max="3" required class="form-control" placeholder="0" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label for="ValorTotal">Valor total</label>
                                                        <input id="ValorTotal" name="ValorTotal" type="number" max="3" required class="form-control" placeholder="0" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="dropdown-divider"></div>
                                            <!--</div>-->
                                            <!--<div id="fregistr" class="tab-pane">-->
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="NombreUsuario">Nombre completo del usuario</label>
                                                        <input id="NombreUsuario" name="NombreUsuario" type="text" maxlength="100" required class="form-control" placeholder="Nombre completo" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="IdUsuario">Identificaci&oacute;n del usuario</label>
                                                        <input id="IdUsuario" name="IdUsuario" type="number" maxlength="30" required class="form-control" placeholder="N&uacute;mero de identificaci&oacute;n" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="Barrio">Barrio</label>
                                        <select class="form-control" required>
                                            <option class="selected">Seleccionar</option>
                                            <option value="Avenida Santander">Avenida Santander</option>
                                            <option value="Bombona">Bombona</option>
                                            <option value="Condominio Santiago">Condominio Santiago</option>
                                            <option value="El Churo">El Churo</option>
                                            <option value="El Olivo">El Olivo</option>
                                            <option value="Fátima">Fátima</option>
                                            <option value="Los Abedules">Los Abedules</option>
                                            <option value="Medardo Bucheli">Medardo Bucheli</option>
                                            <option value="Mercedario">Mercedario</option>
                                            <option value="Normandia">Normand&iacute;a</option>
                                            <option value="Nueva Colombia">Nueva Colombia</option>
                                            <option value="Panamericano">Panamericano</option>
                                            <option value="Prados del Oeste">Prados del Oeste</option>
                                            <option value="Quintas de San Pedro">Quintas de San Pedro</option>
                                            <option value="Rosales II">Rosales II</option>
                                            <option value="San Felipe">San Felipe</option>
                                            <option value="Tequendama">Tequendama</option>
                                            <option value="Terranova">Terranova</option>
                                            <option value="Villa Adriana María">Villa Adriana María</option>
                                            <option value="Villa Recreo">Villa Recreo</option>
                                            <option value="Villa Rocío">Villa Rocío</option>
                                        </select>
                                    </div>
                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <label for="DireccionUsuario">Direcci&oacute;n completa</label>
                                                        <input id="DireccionUsuario" name="DireccionUsuario" type="text" maxlength="200" required class="form-control" placeholder="Direcci&oacute;n" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <label for="TelefonoUsuario">T&eacute;lefono de contacto</label>
                                                        <input id="TelefonoUsuario" name="TelefonoUsuario" type="tel" maxlength="100" required class="form-control" placeholder="T&eacute;lefono" />
                                                    </div>
                                                </div>
                                            </div>
                                <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="Domiciliario">Domiciliario que entrega</label>
                                                        <input id="Domiciliario" name="Domiciliario" type="text" maxlength="100" required class="form-control" placeholder="Nombre del domiciliario" />
                                                    </div>
                                                </div>
                                </div>
                                            <!--</div>-->
                                            <!--</div>-->
                                        </div>
                        </div>
                        <div class="card-footer">
                                        <button type="submit" class="btn btn-primary center">Guardar</button>
                                        <button type="reset" class="btn btn-secondary">Limpiar</button>
                        </div>
                    </div>
                </div>
            </form>
            <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
        </main>
</div>
<!-- Iconos -->
<script>
    feather.replace()
</script>

<script>
    $(' #domicilio').submit(function (event) {

        if ($(' #TelefonoUsuario').val().length < 10) {
            MessageEvent('El número de documento debe' +
                ' tener mínimo diez digitos');
            return false;
        }
    });
</script>
